<div fxLayout="column wrap" style="width:100%; height:600px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="30" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/image1.png" width="70px"></div>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;margin-left:10px;" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="width:100%;color: #283552;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px; /* identical to box height */  letter-spacing: 0.5px; text-transform: capitalize;">
              {{locales.travel}}</div>
          </div>
          <div fxLayout="row wrap" style="width:100%;margin-left:10px;" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Stepper4.png" style="width:300px; "></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%:" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%:" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div class="question3">
        {{locales.question3}}</div>
    </div>
    <div fxLayout="column wrap" class="question3" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%:" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-radio-group (change)="onChangeRadio($event,3)">
        <mat-radio-button value="NO" required>NO</mat-radio-button>
        <mat-radio-button value="YES" required>YES</mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;padding-top:10px;" fxFlex="20" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
    <form class="example-form" style="width:85%;">
      <mat-form-field class="example-full-width">
        <input matInput #message maxlength="256" placeholder="{{locales.inputhelp}}">
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="space-around end" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><label>
        <button mat-button (click)="onBack()">
          <mat-icon>keyboard_arrow_left</mat-icon>{{locales.back}}
        </button></label></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="margin-right:10px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-button style="width:100px;height:50px;color: #FFFFFF;background: #5EA73E; box-shadow: 1.13333px 7.93333px 23.8px rgba(94, 167, 62, 0.2); border-radius: 44px;" (click)="onNext()" routerLink="/certifyinfo">{{locales.continue}}</button></div>
  </div>
</div>