<div fxLayout="column wrap" style="width:100%; height:600px;display:flex;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%; height:100%;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="30" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png" width="70px"></div>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;margin-left:10px;" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="width:100%;color: #283552;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px; /* identical to box height */  letter-spacing: 0.5px; text-transform: capitalize;">
              {{locales.travel}}</div>
          </div>
          <div fxLayout="row wrap" style="width:90%;margin-left:10px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Images/Stepper4.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%:" fxFlex="80" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
      <div style="margin-left:10px;" class="question3">
        {{locales.question3}}</div>
    </div>
    <div fxLayout="column wrap" class="question3" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%:" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-radio-group [(ngModel)]="selected3" (change)="onChangeRadio($event,3)">
        <mat-radio-button value="false" required>NO</mat-radio-button>
        <mat-radio-button value="true" required>YES</mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;padding-top:10px;margin-left:10px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <form class="example-form" #healthForm="ngForm" [hidden]="!enableTextArea" style="width:85%;">
      <mat-form-field class="example-full-width">
        <input name="addlinfo" [(ngModel)]="name" matInput #message maxlength="256" placeholder="{{locales.inputhelp}}">
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="50" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-button style="margin-top:20px;" (click)="onBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>{{locales.back}}
      </button></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="50" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false"><button mat-button style="margin-right:20px;color: #FFFFFF;height: 60px;width: 134px;font-family: Poppins; font-style: normal; font-weight: 600;box-shadow: 1.13333px 7.93333px 23.8px rgba(94, 167, 62, 0.2); background:#5EA73E;border-radius: 44px;" (click)="onNext($event)">{{locales.cont}}</button></div>
  </div>
</div>