<div fxLayout="column wrap" style="width:100px;height:600px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100px;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100px;height:100%;" fxFlex="25" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100px;height:100%;" fxFlex="75" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
        <div fxLayout="column wrap" style="width:100px;height:100%;" fxFlex="25" fxLayoutAlign="center end" [fxShow]="true" [fxHide]="false"><img imgSrc="Images\image1.png" style="width:80px;height:20px;" width="100px;"></div>
      </div>
      <div fxLayout="row wrap" style="width:100px;height:100%;" fxFlex="75" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100px;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="width:100%;" class="personal-info">
              Personal Information </div>
          </div>
          <div fxLayout="row wrap" style="width:100px;height:77%;margin-left:15px;margin-top:-15px;" fxFlex="60" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><img imgSrc="Images\step1.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:400px;" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;margin-left:15px;" fxFlex="90" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <form #personalInfo="ngForm" style="width:100%;height:100%;">
        <mat-form-field style="width:100%;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="firstName" name="firstName" type="text" placeholder="{{locales.firstname}}" required #FirstName="ngModel" [ngModelOptions]="{updateOn:&apos;change&apos;}" pattern="[a-zA-Z\s]+$">

        </mat-form-field>
        <div *ngIf="FirstName.errors  &amp;&amp;  (FirstName.dirty || FirstName.touched || validclick)">
          <span *ngIf="FirstName.errors.required">
                <small style="color:red;font-family:Poppins;font-style:normal;">{{locales.lr}}</small>

</span><span *ngIf="FirstName.errors.pattern">
                <small style="color:red;font-family:Poppins;font-style:normal;">{{locales.pocs}}</small>
</span></div>
        <mat-form-field style="width:100%;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="lastname" name="lastname" type="text" placeholder="{{locales.lastname}}" required #LastName="ngModel" [ngModelOptions]="{updateOn:&apos;change&apos;}" pattern="[a-zA-Z\s]+$">

        </mat-form-field>
        <div *ngIf="LastName.errors  &amp;&amp;  (LastName.dirty || LastName.touched || validclick)">
          <span>
                <small style="color:red;font-family:Poppins;font-style:normal;">{{locales.lir}}</small></span><span>
                <small style="color:red;font-family:Poppins;font-style:normal;">{{locales.pocs}}</small></span></div>
        <mat-form-field style="font-family:Poppins;font-style:normal;width:100%;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="locationName" name="locationName" type="text" placeholder="{{locales.Location}}" required #location="ngModel" (ngModelChange)="locationFilter()" [ngModelOptions]="{updateOn:&apos;change&apos;}" pattern="[a-zA-Z\s]+$" [matAutocomplete]="auto">

        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let location of updatelocations" [value]="location.name">
            {{location.name}}
          </mat-option>
        </mat-autocomplete>
        <div *ngIf="location.errors &amp;&amp; (location.dirty || location.touched || validclick)">
          <span *ngIf="location.errors.required">
          {{locales.lr}}</span><span *ngIf="location.errors.pattern">
          {{locales.pocs}}</span></div>
        <div>
        </div>
      </form>
    </div>
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
      </div>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="70" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false"><button mat-button style="margin-top: 50px;margin-right:20px;color: #FFFFFF;height: 60px;width: 134px;font-family: Poppins; font-style: normal; font-weight: 600;background: #5EA73E; box-shadow: 1.13333px 7.93333px 23.8px rgba(94, 167, 62, 0.2); border-radius: 44px;" (click)="personalInfoSubmit(personalInfo)" type="submit">{{locales.cont}}</button></div>
  </div>
</div>