<div fxLayout="row wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="padding-left:1em;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/locod1.png" style="align-self:center;width:80px;"></div>
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Carefirst.jpg" style="align-self:center;height: 60px;"></div>
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png" style="align-self:center; width: 100px;"></div>
    </div>
  </div>
</div>