<div fxLayout="column wrap" style="margin-top: 30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;padding-left: 5px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/locod1.png" style="align-self:center;width:80px;margin-top:10px;"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Carefirst.jpg" style="align-self:center;height: 60px;"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png" style="align-self:center; width: 100px;"></div>
  </div>
</div>