<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/ingredionlogo.png" style="width:71px; height:58px;"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Carefirst.jpg" style="width:80px; height:55px;"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png" style="width:80px; height:30px;"></div>
  </div>
</div>