<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="!isMobile">
  <div style="font-size: 12px; padding-top:2px;text-align:center;">
    <div style="padding-bottom: 0.5px;">
      <a href="https://wwwnc.cdc.gov/travel/notices" target="_blank">{{locales.viewTravelHealthNotice}}</a>
    </div>
    <div>
      <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank">{{locales.viewSymptoms}}</a>
    </div>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="isMobile">
  <div style="font-size: 12px; padding-top:2px;text-align:center;">
    <div style="padding-bottom: 0.5px;">
      <a href="#" onclick="window.open(&apos;https://wwwnc.cdc.gov/travel/notices&apos;, &apos;_system&apos;); return false;">{{locales.viewTravelHealthNotice}}</a>
    </div>
    <div>
      <a href="#" onclick="window.open(&apos;https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html&apos;, &apos;_system&apos;); return false;">{{locales.viewSymptoms}}</a>
    </div>
  </div>
</div>