<div fxLayout="column wrap" style="display:flex; width:100%; height:700px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%; height:100px;" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="20" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png" style="width:100px;"></div>
      </div>
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="margin-left:10px;letter-spacing: 0.5px; text-transform: capitalize;color: #283552;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px;">
              {{locales.healthinformation}}</div>
          </div>
          <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:100%;height:100%" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Stepper.png" style="margin-left:10px;width:300px;"></div>
            <div fxLayout="column wrap" style="width:100%;height:100%" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="color: #25282B;width:100%; font-family: Poppins; font-style: normal; font-weight: 600; font-size: 13px; line-height: 19px; letter-spacing: 0.5px;" fxFlex="32" fxLayoutAlign="start none" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%; height:100%;margin-left:10px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%; height:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%; " fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false"><label style="margin-left:10px;color: #25282B;">
            {{locales.question1}}</label><label class="text">
            {{locales.fever}}</label><label class="text">
            {{locales.cough}}</label><label class="text">
            {{locales.chills}}</label><label class="text">
            {{locales.choose}}</label></div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="margin-top: 8px; max-height: 10%;width:100%;height:100%;margin-bottom:10px;" fxFlex="8" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
        <mat-radio-group [(ngModel)]="selected1" (change)="onChangeRadio($event, 1)">
          <mat-radio-button value="false" required [labelPosition]="&apos;after&apos;">NO</mat-radio-button>
          <mat-radio-button value="true" required [labelPosition]="&apos;after&apos;">YES</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:100px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><label style="color: #25282B;" class="text2">
        {{locales.question2}}</label></div>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:100%" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="margin-right:10px;margin-leftt:10px;" fxFlex="80" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
        <mat-radio-group [(ngModel)]="selected2" (change)="onChangeRadioTwo($event, 2)">
          <mat-radio-button value="false" required>NO</mat-radio-button>
          <mat-radio-button value="true" required color="#5EA73E">YES</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="50" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-button style="margin-top:20px;" (click)="onBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>{{locales.back}}
      </button></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="50" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false"><button mat-button style="margin-right:20px;color: #FFFFFF;height: 60px;width: 134px;font-family: Poppins; font-style: normal; font-weight: 600;box-shadow: 1.13333px 7.93333px 23.8px rgba(94, 167, 62, 0.2); background:#5EA73E;border-radius: 44px;" (click)="onNext(healthForm)">{{locales.cont}}</button></div>
  </div>
</div>