<div fxLayout="column wrap" style="display:flex; width:100%;height:100%;background-color:#F3F3F9;" fxFlex="100" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%; height:80px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-toolbar style="margin:5px;;padding:0;">
      <div fxLayout="column wrap" style="width:100;height:100%;margin:5px;" fxFlex="15" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/locod1.png" width="80"></div>
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="65" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div style="margin-top:7px;color: #52575C;width:100%;height:100%;font-family: Poppins; font-style: normal; font-weight: 500; font-size: 30px; line-height: 51px; text-align: center; letter-spacing: 0.766667px; text-transform: uppercase;">
          {{locales.dashboard}}</div>
      </div>
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="20" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width:100%;height:100%" fxLayoutGap="2px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/layer21.png" style="width:25px;height:40px;"></div>
          <div fxLayout="column wrap" fxFlex="33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/image1.png" style="width:111;height:25;"></div>
          <div fxLayout="column wrap" fxFlex="34" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img></div>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%; height:200px;background: #5EA73E; border-radius: 39.4615px;" fxFlex="80" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="70" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><label style="margin-left:40px;color: #FFFFFF;letter-spacing: 0.789231px; text-transform: capitalize;width:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 15px; line-height: 47px;">
          {{locales.hrwelcome}}</label><label style="margin-left:40px;color: #FFFFFF;width:100%;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 10px; line-height: 33px; letter-spacing: 0.789231px;">
          {{locales.hrmessage2}}</label></div>
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="30" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Group.png" style="height:90px;"></div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:100px;" fxLayoutGap="10px" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" fxLayout.xs="column"><label style="widht:100%; height:100%;" class="filters">
      Filters</label>
    <div fxLayout="row wrap" fxLayoutGap="3px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlexOrder fxFlexOrder.xs="1"><button mat-button style="background: #5EA73E;border-radius: 40.5882px; width:120px; height:40px;" class="test hrtextbutton" [ngClass]="{&apos;test&apos;: newColor}" (click)="dashboarddata()">{{locales.global}}</button><button mat-button style="background: #5EA73E;border-radius: 40.5882px; width:120px; height:40px;" class="hrtextbutton" (click)="dashboarddata()">{{locales.fromdate}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button><button mat-button style="background: #5EA73E;border-radius: 40.5882px; width:120px; height:40px;" class="hrtextbutton" (click)="dashboarddata()">{{locales.todate}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button></div>
    <div fxLayout="row wrap" fxLayoutGap="3px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlexOrder fxFlexOrder.xs="2"><button mat-button style="background: #5EA73E;border-radius: 40.5882px; width:120px; height:40px;" class="hrtextbutton" (click)="dashboarddata()">{{locales.byregion}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button><button mat-button style="background: #5EA73E;border-radius: 40.5882px; width:120px; height:40px;" class="hrtextbutton" (click)="dashboarddata()">{{locales.countrywise}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button><button mat-button style="background: #5EA73E;border-radius: 40.5882px; width:120px; height:40px;" class="hrtextbutton" [matMenuTriggerFor]="tabledriven">{{locales.plantlocation}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="50" fxLayoutGap="10px" fxLayoutAlign="space-around center" [fxShow]="true" [fxHide]="false" fxLayout.xs="column">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlexOrder fxFlexOrder.xs="1">
      <mat-card style="width:400px; height:200px; margin:0; padding:0;">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-top:15px;margin-left:15px;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.715116px; text-transform: uppercase;    color: #52575C;" class="hrqrtext">
            {{locales.hrq1}}</label></div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="end start" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:30px;" class="positive">
                {locales.postive}</label>
              <div style="margin-left:30px;color: #EB5757;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{locales.q1postive}}</div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:30px;" class="positive">
                {{locales.negative}}</label>
              <div style="margin-left:20px;color: #5EA73E;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{locales.q1negative}}</div>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Group_1.png" style="margin-right:10px;margin-top:20px;"></div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div>

      <mat-menu #tabledriven="matMenu">
        <mat-list-item *ngFor="let location of locationname">
          {{ location.locationName }}
        </mat-list-item>
      </mat-menu>


    </div>
  </div>
</div>