<div fxLayout="column wrap" style="display:flex; width:100%; height:100%;padding-top:1em;" fxFlex="100" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <bh-logo></bh-logo>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label fxLayout fxHide.xs style="justify-content:center;font-size:20px;">
      {{locales.dashboard}}</label></div>
  <div fxLayout="row wrap" style="width:100%; height:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="width:80%;max-width:650px;background: #5EA73E; border-radius: 39.4615px;">
      <mat-card-content style="width:100%;">
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <div style="color: #FFFFFF;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 47px; /* identical to box height */  letter-spacing: 0.789231px; text-transform: capitalize;">
              {{locales.hrwelcome}}</div>
            <div style="color: #FFFFFF;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 10px; line-height: 33px; letter-spacing: 0.789231px;">
              {{locales.hrmessage2}}.</div>
          </div>
          <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Group.png" width="100px"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row wrap" style="margin-left:10px;" fxLayoutGap="10px" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false" fxLayout.xs="column" ngClass.xs="margin">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field style="width:200px;background: #5EA73E; box-shadow: 0.709415px 4.9659px 14.8977px rgba(94, 167, 62, 0.2); border-radius: 22px;height:50px;" [appearance]="&apos;none&apos;">
        <input matInput placeholder="From Date" [matDatepicker]="picker" (dateInput)="dateselected()" [(ngModel)]="fromDate" required [disabled]="false">
        <mat-datepicker-toggle matSuffix [for]="picker" disabled="false">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker [disabled]="false"></mat-datepicker>

      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field style="width:200px;background: #5EA73E; box-shadow: 0.709415px 4.9659px 14.8977px rgba(94, 167, 62, 0.2); border-radius: 22px;height:50px;" [appearance]="&apos;none&apos;">
        <input matInput placeholder="To Date" [matDatepicker]="picker1" (dateInput)="dateselected()" [(ngModel)]="toDate" required [disabled]="false">
        <mat-datepicker-toggle matSuffix [for]="picker1" disabled="false">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>

      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="3px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlexOrder fxFlexOrder.xs="1">
      <form>

        <mat-form-field style="width:200px;background: #5EA73E; box-shadow: 0.709415px 4.9659px 14.8977px rgba(94, 167, 62, 0.2); border-radius: 22px;height:50px;font-family:Poppins;font-style:normal;" [appearance]="&apos;none&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="locationName" name="locationName" type="text" placeholder="Location" required #location="ngModel" pattern="[a-zA-Z0-9\s]+$" [ngModelOptions]="{updateOn:&apos;change&apos;}" (ngModelChange)="locationFilter()" [matAutocomplete]="auto">
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" (opened)="clearValue()" (optionSelected)="selected($event)">
          <mat-option *ngFor="let location of updatelocations" [value]="location.locationName">
            {{location.locationName}}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" *ngIf="isLoading">
    <mat-progress-spinner [mode]="&apos;indeterminate&apos;" color="primary" strokeWidth="2" [diameter]="25"></mat-progress-spinner>
  </div>
  <div fxLayout="row wrap" style="width:100%;margin:10px;" fxFlex="50" fxLayoutGap="5px" fxLayoutAlign="space-around center" [fxShow]="true" [fxHide]="false" fxLayout.lt-md="column">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlexOrder fxFlexOrder.xs="1">
      <mat-card style="width:100%; height:200px; margin:0; padding:0;min-width:300px;">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-top:15px;margin-left:15px;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.715116px; text-transform: uppercase;    color: #52575C;" class="hrqrtext">
            {{locales.hrq1}}</label></div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="end start" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:28px;" class="positive">
                {{locales.positive}}</label>
              <div style="margin-left:30px;color: #EB5757;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{q1postive}}</div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:20px;" class="positive">
                {{locales.negative}}</label>
              <div style="margin-left:20px;color: #5EA73E;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{q1negative}}</div>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Group_1.png" style="margin-right:10px;margin-top:20px;max-width:100%;"></div>
        </div>
      </mat-card>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlexOrder fxFlexOrder.xs="1">
      <mat-card style="width:100%; height:200px; margin:0; padding:0;min-width:300px;">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-top:15px;margin-left:15px;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.715116px; text-transform: uppercase;    color: #52575C;" class="hrqrtext">
            {{locales.hrq2}}</label></div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="end start" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:28px;" class="positive">
                {{locales.positive}}</label>
              <div style="margin-left:30px;color: #EB5757;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{q2postive}}</div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:20px;" class="positive">
                {{locales.negative}}</label>
              <div style="margin-left:20px;color: #5EA73E;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{q2negative}}</div>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Maskgroup.png" style="margin-right:10px;margin-top:20px;max-width:100%;" width="100px"></div>
        </div>
      </mat-card>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlexOrder fxFlexOrder.xs="1">
      <mat-card style="width:100%; height:200px; margin:0; padding:0;min-width:300px;">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-top:15px;margin-left:15px;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.715116px; text-transform: uppercase;    color: #52575C;" class="hrqrtext">
            {{locales.hrq3}}</label></div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="end start" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:28px;" class="positive">
                {{locales.positive}}</label>
              <div style="margin-left:30px;color: #EB5757;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{q3postive}}</div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><label style="margin-left:25px;margin-bottom:20px;" class="positive">
                {{locales.negative}}</label>
              <div style="margin-left:20px;color: #5EA73E;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 27px; letter-spacing: 0.575093px; text-transform: uppercase;">
                {{q3negative}}</div>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Frame.png" style="margin-right:10px;margin-top:40px;max-width:100%;" width="100px"></div>
        </div>
      </mat-card>
    </div>
  </div>
  <footer></footer>
</div>