/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "nDefaults.scss";
.mat-raised-button {
  color: white;
  background-color: #64ad44;
}
.row1 {
  background-color: white;
}
.row2 {
  background-color: green;
}
.row3 {
  background-color: yellow;
}
.loginmessage {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #25282b;
  align-items: center;
}
.labelmessage {
  /* UI / Label */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;

  /* Text / 01 */

  color: #232735;
}
.forgotpassword {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height, or 107% */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* Primary Text - Title texts, captions, input fields */

  color: #25282b;
}

.mat-radio-label {
  flex-direction: column-reverse;
}

.mat-label {
  border: 1.80943px solid #5ea73e;
  box-sizing: border-box;
  border-radius: 5.42829px;
}

.label1 {
  border: 1.80943px solid #5ea73e;
  box-sizing: border-box;
  border-radius: 5.42829px;
}
.question3 {
  color: #25282b;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.5px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.text {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 12px;
  color: #52575c;
}
.text2 {
  font-family: Poppins;
  margin-left: 10px;
  margin-bottom: 12px;
  color: #25282b;
  font-weight: 600;
  font-size: 13px;
}
.personal-info {
  margin-left: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #283552;
}

.image1 {
  position: absolute;
  left: 76.65%;
  right: -3.43%;
  top: 193.29%;
  bottom: -144.7%;
}
.locod1 {
  position: absolute;
  left: 38.4%;
  right: 35.73%;
  top: 147.73%;
  bottom: -184.09%;
}

.image2 {
  position: absolute;
  left: 5.07%;
  right: 77.87%;
  top: 8.13%;
  bottom: 85.34%;
}
.conf {
  margin-top: 20px;
  margin-left: 15px;
}
.contact-info {
  // margin-left: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #283552;
}

.certify-info {
  // margin-left: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #283552;
}
.continuebutton {
  color: #ffffff;
  margin-right: 13px;
  height: 60px;
  width: 134px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  background: #5ea73e;
  box-shadow: 1.13333px 7.93333px 23.8px rgba(94, 167, 62, 0.2);
  border-radius: 44px;
}

.modalstyle1 {
  /* padding-bottom: 105px; */
  /* padding-right: 20px; */
  padding: 125px 20px 105px 4px;
  // padding: 94px 177px 8px 16px;
}

.buttonstyle {
  margin-left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #a1a4b1;
}

/* Set a style for all buttons */
.button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
// for radio button style

.mat-radio-label {
  display: flex;

  flex-direction: column-reverse;

  padding: 0;
}

.mat-radio-label-content {
  width: 120px;

  height: 40px;

  text-align: center;

  line-height: 40px !important;

  border: 1px solid #d3d3d3;

  border-radius: 5px;

  margin-bottom: 2px;

  padding: 0 !important;
}

.mat-radio-button.mat-radio-checked
  > .mat-radio-label
  > .mat-radio-label-content {
  border-color: #5ea73e !important;
}

.mat-radio-button.mat-radio-checked
  > .mat-radio-label
  > .mat-radio-container
  > .mat-radio-outer-circle {
  border-color: #5ea73e !important;
}

.mat-radio-button.mat-radio-checked
  > .mat-radio-label
  > .mat-radio-container
  > .mat-radio-inner-circle {
  background-color: #5ea73e !important;
}
.filters {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 43px;
  letter-spacing: 0.5px;
  text-transform: capitalize;

  /* Secondary Text */

  color: #52575c;
}
.hrtextbutton {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* or 94% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.184492px;

  /* #FFFFFF */

  color: #ffffff;
}

.done-icon {
  border-radius: 50%;
  height: 80px !important;
  width: 80px !important;
  text-align: center;
  line-height: 80px;
  font-size: 40px;

  color: #ffffff;
  box-shadow: none;
}

.bg-green {
  background-color: #5ea73e;
}

.bg-amber {
  background-color: #ffc107;
}

.hrqrtest {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.715116px;
  text-transform: uppercase;

  color: #52575c;
}
.positive {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.575093px;
  text-transform: capitalize;
  color: #52575c;
}
.filters {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 43px;
  letter-spacing: 0.5px;
  text-transform: capitalize;

  /* Secondary Text */

  color: #52575c;
}
.hrtextbutton {
  max-width: 100% !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* or 94% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.184492px;

  /* #FFFFFF */

  color: #ffffff;
}

.hrqrtest {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.715116px;
  text-transform: uppercase;
  color: #52575c;
}
.positive {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.575093px;
  text-transform: capitalize;
  color: #52575c;
}
.test {
  background-color: #a1a4b1;
}

.mat-datepicker-toggle{
   color:white;
}
bh-hrdashboard .mat-form-field-flex{
  color:white !important;
}
//add margin left to hr dashboard
bh-hrdashboard .mat-form-field-infix {
   
    margin-left: 49px;
    
}
//Remove underline for select language
bh-landingpage .mat-form-field-underline {
  display: none;

}
bh-hrdashboard .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon {
   display:none;
      /* display: flex; */
}
 bh-hrdashboard .mat-form-field-label {
      /*change color of label*/
      color: white !important;
  }
   bh-hrdashboard .mat-focused .mat-form-field-label {
    color: whitesmoke !important;
    font-size: 20px;
} 
bh-hrdashboard .mat-icon{
vertical-align: bottom;
}
.margin{
    margin-left: 45px!important;
}
.marginweb{
    margin-left: 90px!important;
}

#lang-select mat-select{
    text-align: center;
}


/* focused color */
#lang-select .mat-form-field-outline-thick {
    color: #5ea73e !important;
    opacity: 0.5;
    
}


.mat-select-panel {
  max-height: 400px !important;
}
// bh-landingpage .mat-form-field-type-mat-select .mat-form-field-label, .mat-select-value {
//   color: #5EA73E;
//    max-width: 100%;
//     width: auto;
// }
// bh-landingpage .mat-select {
//        border: 1px solid #5EA73E;
//     box-sizing: border-box;
//     border-radius: 44px;
//     height: 27px;
//      width: 117px;
// }
// bh-landingpage .mat-select-trigger {
//     height: 40px;
// }

.ios-fix{
    display: block !important;
}

bh-landingpage{
  display: block !important;
}

mat-radio-button{
  margin-right: 1em;
}