<div fxLayout="column wrap" style="width:100%;height:600px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;height:76px;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="25" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="75" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="25" fxLayoutAlign="center end" [fxShow]="true" [fxHide]="false"><img imgSrc="Images\image1.png"></div>
      </div>
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="75" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="width:100%;" class="certify-info">
              {{locales.certifyinfo}}</div>
          </div>
          <div fxLayout="row wrap" style="margin-left:15px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Images\step3.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:400px;" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;margin-left: 15px;" fxFlex="90" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <form #certifyForm="ngForm">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div><em style="color: #25282B;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 13px; line-height: 19px; letter-spacing: 0.2px;">
                 <label>
   <!-- <input type="checkbox" [(ngModel)]="accept" name="accept" #Accepted="ngModel" [checked]="false" required> &nbsp; -->
{{locales.certconf}} &#xA0; 
<a style="color:green;" data-toggle="modal" data-target="#myModal">{{locales.terms}}</a>
</label>
  <!-- Modal -->
  <div class="modal fade modalstyle1" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
          <h4 class="modal-title">{{locales.terms}}</h4>
        </div>
        <div class="modal-body">
          <p>
          {{locales.termsmessage}}
          </p>
        </div>
      
      </div>
    </div>
  </div></em>
        </div>
      </form>
    </div>
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="end start" [fxShow]="true" [fxHide]="false"><label>
        <button mat-button (click)="onBack()">
          <mat-icon>keyboard_arrow_left</mat-icon>{{locales.back}}
        </button></label></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="color: #FFFFFF;margin-top: 50px;margin-left:90px;height: 60px;width: 150px;font-family: Poppins; font-style: normal; font-weight: 600;box-shadow: 1.13333px 7.93333px 23.8px rgba(94, 167, 62, 0.2); background:#52575C;border-radius: 44px;" (click)="signSubmit(certifyForm)">{{locales.Submit}}</button></div>
  </div>
</div>