<div fxLayout="column wrap" style="min-height:100vh;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <bh-logo></bh-logo>
  <div fxLayout="column wrap" style="margin:auto;" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
      <mat-icon class="bg-green done-icon" *ngIf="!isAmber">done</mat-icon>
      <mat-icon class="bg-amber done-icon" *ngIf="isAmber">done</mat-icon>
    </div>
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div style="color: #283552;text-align: center; letter-spacing: 0.5px; text-transform: capitalize;width:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px;">
          {{locales.thankyou}}</div>
      </div>
    </div>
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div style="bottom: 47.39%; font-family: Poppins; font-style: normal; font-weight: normal; font-size: 15px; line-height: 16px; text-align: center; letter-spacing: 0.5px; margin-top:15px; position: absolute; left: 35.2%; color: #283552;">
        {{locales.submittedby}}

      </div>
    </div>
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
      <div style="color: #283552;width:80%;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; text-transform: capitalize;">
        {{locales.thankyoumessage}}

        <div style="    color: #283552;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;margin-top: 40px;">{{name}}</div>
        <div style="font-size: 15px; margin-top: 10px; font-weight: 500;">{{today}}</div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="margin-top:auto;margin-bottom:30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div style="color: #25282B;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px;">
        {{locales.developedby}}</div>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo031.png" style="width:100px; height:50px;"></div>
  </div>
</div>