<div fxLayout="row wrap" style="width: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill fxHide.xs="true">
  <div fxLayout="column wrap" style="min-height:100vh;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="cursor: pointer;" class="thankyou-btm-logo" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <div style="color: #25282B;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px;">
            {{locales.developedby}}</div>
        </div>
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo031.png" style="width:100px; height:50px;"></div>
      </div>
    </div>
    <bh-logo></bh-logo>
    <div fxLayout="row wrap" style="width: 100%; padding-top: 4em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="margin: 0 auto;">
        <mat-card-content>
          <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="width: 100%;" class="paddin-btm-1em" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false" *ngIf="masterData.isHR">
              <mat-icon class="logout-icon" [ngClass]="{&apos;logout-amber-icon&apos;:isAmber, &apos;logout-green-icon&apos;:!isAmber}" (click)="logout()">power_settings_new</mat-icon>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <mat-icon class="bg-green done-icon" *ngIf="!isAmber">done</mat-icon>
              <mat-icon class="bg-amber done-icon" *ngIf="isAmber">done</mat-icon>
            </div>
            <div fxLayout="row wrap" style="width:100%; padding-top: 1em; padding-bottom: 1em;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div style="color: #283552;text-align: center; letter-spacing: 0.5px; text-transform: capitalize;width:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 1.4em; line-height: 30px;">
                  {{locales.thankyou}}</div>
              </div>
            </div>
            <div fxLayout="row wrap" style="width:100%; padding-bottom: 1em;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <div style="color: #283552;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; text-transform: capitalize;">
                {{locales.thankyoumessage}}</div>
            </div>
            <div fxLayout="row wrap" style="width: 100%; padding-bottom: 1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div style="font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px;  color: #283552;">
                      {{locales.submittedby}}

                      <div style="color: #283552;
    padding-bottom: 1em;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;">{{name}}</div>

                      <div style="font-size: 2em;font-weight: 600;">{{today}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <bh-cdclinks></bh-cdclinks>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div fxLayout="row wrap" style="width: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill fxHide.gt-xs="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width: 100%" class="thankyou-btm-logo" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <div style="color: #25282B;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px;">
            {{locales.developedby}}</div>
        </div>
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo031.png" class="bcd-logo"></div>
      </div>
    </div>
    <div fxLayout="row wrap" style="width: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <bh-logo style="width: 100%"></bh-logo>
    </div>
    <div fxLayout="row wrap" style="width: 100%; padding-top: 5em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width: 100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="bg-green done-icon" *ngIf="!isAmber">done</mat-icon>
          <mat-icon class="bg-amber done-icon" *ngIf="isAmber">done</mat-icon>
        </div>
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="color: #283552;text-align: center; letter-spacing: 0.5px; text-transform: capitalize;width:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px; padding-bottom: 0.5em;">
              {{locales.thankyou}}</div>
          </div>
        </div>
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <div style="color: #283552;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; text-transform: capitalize;">
            {{locales.thankyoumessage}}</div>
        </div>
        <div fxLayout="row wrap" style="width: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div style="font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; color: #283552;">
                  {{locales.submittedby}}

                  <div style="color: #283552;
font-size: 1.5em;
    padding-top: 0.5em;
padding-bottom: 1em;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;">{{name}}</div>

                  <div style="font-size: 2em;font-weight: 600;">{{today}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <bh-cdclinks></bh-cdclinks>
        </div>
      </div>
    </div>
  </div>
</div>