<div fxLayout="row wrap" style="width: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill fxHide.xs="true">
  <div fxLayout="column wrap" style="min-height:100vh;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <bh-logo></bh-logo>
    <div fxLayout="row wrap" style="margin-top:10px;padding-left:10px;padding-right:10px;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start none" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/ingredionlogo.png" style="width:60px;"></div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Carefirst.jpg" style="width:80px;"></div>
      <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png"></div>
    </div>
    <div fxLayout="row wrap" style="width: 100%; padding-top: 4em;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="margin: 0 auto;">
        <mat-card-content>
          <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <mat-icon class="bg-green done-icon" *ngIf="!isAmber">done</mat-icon>
              <mat-icon class="bg-amber done-icon" *ngIf="isAmber">done</mat-icon>
            </div>
            <div fxLayout="row wrap" style="width:100%; padding-top: 1em; padding-bottom: 1em;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div style="color: #283552;text-align: center; letter-spacing: 0.5px; text-transform: capitalize;width:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px;">
                  {{locales.thankyou}}</div>
              </div>
            </div>
            <div fxLayout="row wrap" style="width:100%; padding-bottom: 1em;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <div style="color: #283552;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; text-transform: capitalize;">
                {{locales.thankyoumessage}}</div>
            </div>
            <div fxLayout="row wrap" style="width: 100%; padding-bottom: 1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div style="margin-top:10px;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px;  color: #283552;">
                      {{locales.submittedby}}

                      <div style="color: #283552;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;">{{name}}</div>

                      <div style="font-size: 20px; margin-top:10px;font-weight: bold;">{{today}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div style="color: #25282B;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px;">
                    {{locales.developedby}}</div>
                </div>
                <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo031.png" style="width:100px; height:50px;"></div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div fxLayout="row wrap" style="width: 100%" class="ios-fix" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill fxHide.gt-xs="true">
  <div fxLayout="column wrap" style="min-height:100vh;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <bh-logo></bh-logo>
    <div fxLayout="column wrap" style="margin-top:30px;" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="padding:10px;" fxFlex="30" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <mat-icon class="bg-green done-icon" *ngIf="!isAmber">done</mat-icon>
        <mat-icon class="bg-amber done-icon" *ngIf="isAmber">done</mat-icon>
      </div>
      <div fxLayout="row wrap" style="width:100%;padding:20px;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="color: #283552;text-align: center; letter-spacing: 0.5px; text-transform: capitalize;width:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px;">
            {{locales.thankyou}}</div>
        </div>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <div style="margin-left: 37px;color: #283552;width:80%;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; text-transform: capitalize;">
          {{locales.thankyoumessage}}</div>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" *ngIf="false">
        <div style="color: #283552;width:80%;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; text-transform: capitalize;">



          <div style="font-size: 15px; margin-top: 10px; font-weight: 500;">{{today}}</div>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
        <div fxLayout="column wrap" style="width:100%;" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="font-family: Poppins; font-style: normal; font-weight: normal; font-size: 11px; line-height: 16px; text-align: center; letter-spacing: 0.5px; margin-top:15px; position: absolute; color: #283552;">
            {{locales.submittedby}}

            <div style="color: #283552;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;margin-top: 5px;margin-left:5px;">{{name}}</div>

            <div style="font-size: 20px; margin-top:10px;font-weight: bold;">{{today}}</div>
          </div>
        </div>
        <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      </div>
    </div>
    <div fxLayout="row wrap" style="width: 100%;position: absolute;     bottom: 3em;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="color: #25282B;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px;">
            {{locales.developedby}}</div>
        </div>
        <div fxLayout="row wrap" style="width: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo031.png" style="width:100px; height:50px;"></div>
      </div>
    </div>
  </div>
</div>